#div1 {float:left; width:18px; height:18px;padding:10px;border:1px solid #5C4310;}
#div1[tile="g"] {background: url("tilea2.png") 0 0;}
#div1[tile="p"] {background: url("tilea2.png") -155px 0;}
#drag1 {width:18px; height:18px; background:#d88;}
#drag2 {width:18px; height:18px; background:#88d;}
body { display:flex; flex-direction:row; justify-content:space-around;}
#pfield { width:100%; order:1; }
.left { order:1; width:64%; }
.right { display:flex; order:2;  width:34%; flex-direction:column;}
#tabs { width:100%;}
.tab { display:flex; flex-direction:column;}
.t-block {}
#dice { display:flex; flex-direction: row; flex-wrap: wrap; order:1;}
.ui-progressbar-value { font-size: 0.8em; }
#stats { order:2; }
#console { order:3; overflow:scroll; height:100%; }
#console span:nth-of-type(1) { background: #FFAD5C; }
#console span { display: inline-block; width: 100%;}
.btn {
  width: 75px;
  color: #ffffff;
  padding: 10px 20px 10px 20px;
  border: dotted #000000 2px;
}
.roll_dice { text-align: center;}
.btn[active="no"] { background: #bF2307;}
.btn[active="yes"] { background: #00bA5A;}
.btn:hover {
  border: double #000000 2px;
  text-decoration: overline underline;
}
.turn {
  width: 100%;
  background: #ddd;
}
.roll {
  display: flex;
  flex-grow: 4;
  background: #eee;
  justify-content: space-around;
  align-items: center;
}
.active {
  -webkit-box-shadow:inset 0px 0px 0px 5px #f00;
  -moz-box-shadow:inset 0px 0px 0px 5px #f00;
  box-shadow:inset 0px 0px 0px 5px #f00;
}

